
<div class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h3 style="color:white">Shopping Cart</h3>
            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col">Image</th>
                      <th scope="col">Price</th>
                      <th scope="col">Checkout</th>
                    </tr>
                  </thead>
                  <ng-container *ngIf="orderItem">
                <tbody>
                    <tr *ngFor="let detail of orderItem.allProducts">
                        <td>{{ detail.productName}}</td>
                        <td><img [src]="detail.productImage" height="60px" width="100px"></td>
                        <td>{{ detail.productPrice }}</td>
                        <td>
                            <div class="cart_buttons">
                                <button type="button" class="button cart_button_checkout" (click)="checkOut(detail.productSku)">Complete</button> 
                            </div>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
            </table>
        <div class="col-2"></div>
    </div>
</div>