<div class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h3 style="color:white">Great Products, Great Value!</h3>
            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col">Image</th>
                      <th scope="col">Price</th>
                      <th scope="col">Checkout</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr *ngFor="let eachProduct of allProducts">
                        <td>{{ eachProduct.productName }}</td>
                        <td><img [src]="eachProduct.productImage" height="60px" width="100px"></td>
                        <td>{{ eachProduct.productPrice }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="addToCart(eachProduct.sku)">
                                <span class="material-symbols-outlined">add_shopping_cart</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
